<head>

</head>
<body>
  <a style="font-size:50px;text-align: center;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">Sign In</a>
  <br>
<form >
  
  <table  cellpadding =  "5"cellspacing = "0">
    <tr> 
      <td> First Name<a style="color:red;">* </a> </td>
      <td> <input type = "text" placeholder="First Name"name="firstname"[(ngModel)]="firstName" required/></td>
    </tr>
    <a id="errormsg">{{errorname}}</a>
    <tr> 
        <td> Last Name </td>
        <td> <input type = "text" placeholder="Last Name" name="email"required/></td>
    </tr>
  
    <tr> 
      <td> Email<a style="color:red;">* </a> </td>
      <td> <input type = "email" placeholder="Email"name="email" [(ngModel)]="email" required/></td>
    </tr>
    <a id="errormsg">{{erroremail}}</a>
    <tr>
      <td> Password<a style="color:red;">* </a> </td>
      <td> <input type = "password"placeholder="Password" name="password" [(ngModel)]="password" required/></td>
    </tr>
    <a id="errormsg">{{errorpwd}}</a>
    <a id="errormsg">{{errormsg}}</a>
    <tr>
      <td colspan = "2" style = "text-align:center;">
      <button  (click)=signIn() class="btn btn-success">Create Account</button>
      </td>
    </tr>
    <tr>
      <td colspan = "2" style = "text-align:center;"><a style="color:red;">* </a> is required field</td>
    </tr>

    
  </table>
  </form>
</body>
