<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="container">
<form >
    <div>
    <a href="javascript:history.back()" style="color: black;"><i class="fa fa-mail-reply" style="font-size:20px;padding-top: 1%;"></i> back</a>
    </div>
</form>
<br>
<h3> {{hotel.hotelName}}  Details</h3>
<img src="../assets/{{hotel.id}}.jpg" class="rounded img-fluid" alt="{{hotel.hotelName}}" />
<div id="foot">
    <div id="hotelName">
        <label><b>{{hotel.hotelName}}</b></label>
    </div>
    <div >
        <label><i class="fa fa-map-pin" style="font-size:24px;color:rgb(194, 6, 37)"></i><a id="place" href="{{hotel.location}}">{{hotel.place}},{{hotel.state}}</a></label>
    </div>

    <div>
        <label id="sideheading"><b > Ratings </b></label><br/>
        <a *ngFor="let item of [].constructor( hotel.ratings ); let i = index">
            <i class="fa fa-star" style="font-size:24px;color: rgb(241, 219, 15);"></i>
        </a>
    </div>

    <!--<div >
        <label> <b> Amenities: </b></label>{{hotel.amenities}}
    </div>-->
    
    
    <div>  
        <label id="sideheading"><b> Amenities </b></label>
        <div *ngFor="let amenities of hotel.amenities?.split(',')" id="amenitiessize">
        <pre>   <i class="fa fa-circle" style="font-size:12px;color: rgb(48, 2, 2);"></i> {{ amenities }}</pre>
        </div>
    </div>  
    
    <div>
        <label id="sideheading"> <b> Cost </b></label> 
        <pre id="costsize">  {{hotel.cost}} /night</pre>
    </div>
    
    

    <div>  
        <label id="sideheading"><b> Meals </b></label>
        <a *ngFor="let meals of hotel.meals?.split(',')" id="mealssize">
        <pre>  <i class="fa fa-cutlery" style="font-size:12px;color: rgb(34, 32, 2);"></i>  {{ meals }}</pre>
        </a>
    </div>  
    <div>
        <a><b>Contact Us :    </b></a>
        <a ><pre style="display:inline;">  </pre></a>
        <a href=“tel:{{hotel.contact}}” style="color: black;"><i style="font-size:28px;" class="fa">&#xf095;</i>call:{{hotel.contact}}</a> 
        <a ><pre style="display:inline;">  </pre></a>
        <a href = "mailto:  {{hotel.email}}" style="color: black;"><i class="material-icons" style="font-size:28px;">  email</i>mail to:{{hotel.email}}</a>
    </div>
    <form>
        <div style="text-align: center;margin-top: 2%;">
        <button class="btn btn-dark" type="submit"><a style="color: azure;" href="/booked-user-details"> Book your Room Now!!</a></button>
        </div>
    </form>
</div>

</div>

