
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 

  <div class="navbar" >
    <a type="button" class="glow-button"(click)="adminLogin()"><img src="../assets/homestay.jpeg"  alt="hotel image" width="100" height="50"></a>
    
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-bars" style="font-size:24px"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="/hotel-home" id="taskbar" class="nav-link"><i class="fa fa-home" style="font-size:24px"></i> Home</a>
        <!--<a *ngIf="loginService.isUserLoggedIn()" routerLink="/hotels" id="taskbar" class="nav-link" >Hotel List</a>
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="/create-hotel" id="taskbar" class="nav-link" >Add Hotel</a>-->
        
        <a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a>
      </div>
    </div> 
  </div>

  <div  >
    <br>
    <br>
    <br>
    <router-outlet></router-outlet>
  </div>

    <!--<div *ngIf="!loginService.isUserLoggedIn()" class="dropdown">
      <button class="dropbtn">
        <a style="color:black;"><i class="fa fa-user-circle" style="font-size:20px;"></i> Login</a>
      </button>
      <div class="dropdown-content" >
        <a routerLink="/admin-login" class="nav-link">Admin</a>
        <a routerLink="/login" class="nav-link">User</a>
        <a  routerLink="/logout" class="nav-link">LogOut</a>
      </div>
    </div>-->
    
    
    
  
  
  
  
<!--<nav id="stickynavbar" class="navbar navbar-expand-sm bg-primary navbar-dark ">  
  
  <img src="../assets/homestay.jpeg" alt="hotel image" width="100" height="50">
  
  <ul  class = "navbar-nav">
      
      <li class = "nav-item">
      <a routerLink="hotel-home" routerLinkActive="active" id="taskbar" aria-current="page" class="nav-link active" >Home</a>
      </li>
      <li class = "nav-item">
          <a routerLink="hotels" routerLinkActive="active" id="taskbar" class="nav-link" >Hotel List</a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-hotel" routerLinkActive="active" id="taskbar" class="nav-link" >Add Hotel</a>
      </li>    
  </ul>

</nav>-->


<!--<div class='pagination'>
  <h1  id="main" > {{title}} </h1>
  <a routerLink="hotel-home" routerLinkActive="active"  class='first'>Home</a>
  <a routerLink="hotels" routerLinkActive="active" >Hotel List</a>
  <a routerLink="create-hotel" routerLinkActive="active" class='last'>Add Hotel</a>
</div>


    <a style="text-align: right;" routerLink="/sign-in" class="nav-link" style="color: black;">Sign In</a>

-->






 <!-- <img src="../assets/hotelbg.jpg" alt="hotel image" width="1000" height="500"> -->





