<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div id="body"class="hoverbtn container">
<div  class="bg-blurimage"></div>
<div class ="bg-text">
<div class="main">
    <h1 style="font-size: 500%;color: rgb(238, 227, 227);"><b>Homestay</b></h1>
<h3>Stay at Home In A Dreamy Place</h3>
<div >
    <a class="button glow-button" routerLink="/booknow"type="button" style="color:rgb(119, 10, 10);margin-left: 30%;">Book Now!!!</a>
    <label><pre>    </pre></label>
    <a class="button glow-button" (click)="addhotel()" type="button" style="color:rgb(119, 10, 10);">Add Hotel!!</a>
      <br>
      
</div>
</div>
</div>
</div>
<div id="navbar"class="navbar">
    <label>
    <a><b>Contact  </b></a>
    <a href=“tel:9442374492”><i style="font-size:28px" class="fa">&#xf095;</i></a>
    <a href ="mailto: homestay@gmail.com"><i class="material-icons" style="font-size:28px">email</i></a>
  </label>
  <label>
    <a><b>Follow Us</b></a>
    <a href=""><i class="fa fa-instagram" style="font-size:28px"></i></a>
    <a href=""><i class="fa fa-facebook-f" style="font-size:28px"></i></a>
  </label>
</div>
<!--<label class="follow-us">
    <p class="follow-btn">Follow Us</p>
        <a class="social-icons">
            <i class="fa fa-paper-plane" style="font-size:24px;" ></i> 
            <i class="fa fa-paper-plane" style="font-size:24px;" ></i>
            <i class="fa fa-paper-plane" style="font-size:24px;" ></i>
        </a>
    
    
</label>-->
